spring:
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: password
    driverClassName: org.h2.Driver

  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: create

inspector:
  ingestion-key: ${INGESTION_KEY:69597a87ae16c25741ab1623c1b6be2e6b113ac8}

path:
  path-list:
    - "/rest"
    - "/testing"
    - "/variable"


